/*
  File: index.css
  Description: Styles for address information component.
*/

/* Root variables for font styles */
:root {
    --font-family: 'Open Sans', sans-serif;
    --font-light: 300;
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
}

/* Styles for the address info container */
.address-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styles for the address info subcontainer */
.address-info-subcontainer {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-bottom: 2.5vh;
}

/* Styles for the address info header */
.address-info-header {
    font-size: 30px;
    font-weight: var(--font-bold);
    margin: 2.5vh auto;
    border-bottom: 4px solid black;
}

/* Styles for the address info content */
.address-info-content {
    display: flex;
    flex-direction: column;
    margin: 1.5vh 0;
}

/* Styles for address info content spans */
.address-info-content span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Styles for links inside address info content spans */
.address-info-content span a {
    cursor: pointer;
    margin-bottom: 1vh;
    margin-right: 1vw;
    font-size: 18px;
}

/* Styles for address info content labels */
.address-info-content label {
    width: 14vw;
    font-size: 20px;
    font-weight: var(--font-bold);
    margin-bottom: 1vh;
}

/* Styles for address info content input and select fields */
.address-info-content input,
.address-info-content select {
    width: 50vw;
    border-radius: 12px;
    padding: 12px;
    border: 1px solid black;
    font-size: 18px;
    appearance: none;
}

/* Styles for the save changes button */
.save-changes-btn {
    width: 50vw;
    height: 6vh;
    margin-top: 2.5vh;
    margin-bottom: 5vh;
    border-radius: 25px;
    font-weight: var(--font-semi-bold);
    font-size: 22px;
    align-items: center;
    border: 2px solid #111B47;
    background-color: white;
    color: black;
    display: inline-flex;
    justify-content: center;
}
