/* 
    File: index.css 
    Description: Styles for the FAQ component.
*/

/* Root variables for font styles */
:root {
  --font-family: 'Open Sans', sans-serif;
  --font-light: 300;
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
}

/* Styles for FAQ items */
.faq-item {
  width: 100%;
  border: 1px solid #DFDFDF;
}

/* Styles for FAQ question */
.faq-question {
  background-color: #2071B5;
  color: white;
  font-size: 21px;
  font-weight: var(--font-bold);
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

/* Styles for FAQ answer */
.faq-answer {
  background-color: #ffffff;
  border: 1px solid #DFDFDF;
  font-size: 20px;
  font-weight: var(--font-semi-bold);
  padding: 10px;
  text-align: left;
}
