/*
    File: index.css
    Description: Styles for the website.
*/

:root {
  --font-family: 'Open Sans', sans-serif;
  --font-light: 300;
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100%;
}

code {
  font-family: var(--font-family);
}
